@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: grow 5s linear;
}
.phone-input-container {
  width: 100% !important; /* Ensure the entire component is full width */
}

.phone-input-container .form-control {
  width: 100% !important; /* Force the inner input to take up the full width */
  box-sizing: border-box; /* Ensure proper padding and border rendering */
}
/* Add this to your global CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
